*.rbc
*.sassc
.project
.ruby-version
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/structure.sql
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/config/database.yml
/dummy/.bundle
/dummy/config/database.yml
/dummy/log/*
/dummy/tmp/
/dummy/db/structure.sql
/dummy/*.log
/dummy/db/schema.rb
/dummy/.sass-cache
/pkg/
.rvmrc
