<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a id="plattform_brand" class="brand" href="#">Volontari.at /</a>
      <a id="product_brand" class="brand" href="#">Core</a>
      
      <%= render_navigation context: :main, expand_all: false, renderer: :bootstrap %>
    </div>
  </div>
</div>