<h3><%= params[:id] == 'no-name' ? 'No Name' : @product.name %></h3>

<%= render 'shared/collection/table', 
  type: 'areas', collection: @areas, columns: {
  	'name' => ->(resource) do
  	  link_to resource.name, product_area_workflow_user_index_path(params[:id], resource)	
    end, 'users_count' => nil 
  }, options: { append_new_link: false }
%>

