<%= simple_form_for(@story, url: story_path(@story), as: :story, html: {class: 'floating_form form-vertical'}) do |f| %>
  <%= render partial: 'shared/form/error_messages', locals: { resource: @story } %>
  <% if step == :activate %>
  <input type="hidden" name="next_step" value="1"/>
  <% end %>
  <%= render partial: 'tasks/collection', locals: { 
    collection: @story.tasks.select{|t| !t.new_record? }, 
    options: { current_parent: @story, columns: @step_presenter.task_columns, append_new_link: false } 
  } 
  %>
  <div class="form-group">
    <%= f.button :submit, t('general.events.activate') %>
  </div>
<% end %>
