<h3><%= @area.name %></h3>

<dl class="dl-horizontal">
  <%= show_associations :parent %>
  <%= show_actions %>
</dl>



<%= render 'shared/collection/table', 
  type: 'areas', collection: @areas, columns: ['name', 'users_count'], options: { area: { parent_id: @area.id } }
%>